<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyCode" property="companyCode" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="qRCodeURL" property="qRCodeURL" jdbcType="VARCHAR" />
    <result column="creatTime" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyCode, companyName, address, qRCodeURL, creatTime, lastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Company" >
    insert into company (id, companyCode, companyName, 
      address, qRCodeURL, creatTime, 
      lastUpdateTime)
    values (#{id,jdbcType=INTEGER}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{qRCodeURL,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyCode != null" >
        companyCode,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="qRCodeURL != null" >
        qRCodeURL,
      </if>
      <if test="creatTime != null" >
        creatTime,
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="qRCodeURL != null" >
        #{qRCodeURL,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Company" >
    update company
    <set >
      <if test="companyCode != null" >
        companyCode = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="qRCodeURL != null" >
        qRCodeURL = #{qRCodeURL,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creatTime = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Company" >
    update company
    set companyCode = #{companyCode,jdbcType=VARCHAR},
      companyName = #{companyName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      qRCodeURL = #{qRCodeURL,jdbcType=VARCHAR},
      creatTime = #{creatTime,jdbcType=TIMESTAMP},
      lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>